¡Hola!<br />
Soy **Francisco Cortés**, estoy contento de revisar tu proyecto y ser parte de tu proceso de aprendizaje.
A lo largo del texto, haré algunas observaciones sobre mejoras en el código y también haré comentarios sobre tus percepciones sobre el tema. Si existe algún error en el código, no te preocupes, estoy aquí para ayudarte a mejorarlo, en la primera iteración te lo señalaré para que tengas la oportunidad de corregirlo, pero si aún no encuentras una solución para esta tarea, te daré una pista más precisa en la próxima iteración y también algunos ejemplos prácticos. Estaré abierto a retroalimentación y discusiones sobre el tema.<br />
Encontrarás mis comentarios a continuación - **por favor no los muevas, modifiques o borres**.
Revisaré cuidadosamente tu código para comprobar que se han cumplido con los requisitos y te proporcionaré mis comentarios en cajas verdes, amarillas o rojas como esta:

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si la ejecución fue perfecta succesfully.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si existe alguna recomendación para que tu código mejore.
</div>

<div class="alert alert-block alert-danger">

<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si existen correcciones necesarias para cumplir con los requisitos. El trabajo no puede ser aceptado si hay alguna caja roja.
</div>

Puedes responderme de la siguiente manera:

<div class="alert alert-block alert-info">
<b>Respuesta del estudiante.</b> <a class="tocSkip"></a>
</div>

Una empresa de comercio electrónico, Store 1, recientemente comenzó a recopilar datos sobre sus clientes. El objetivo final de Store 1 es comprender mejor el comportamiento de sus clientes y tomar decisiones basadas en datos para mejorar su experiencia online.

Como parte del equipo de análisis, tu primera tarea es evaluar la calidad de una muestra de datos recopilados y prepararla para futuros análisis.

# Cuestionario

Store 1 tiene como objetivo garantizar la coherencia en la recopilación de datos. Como parte de esta iniciativa, se debe evaluar la calidad de los datos recopilados sobre los usuarios y las usuarias. Te han pedido que revises los datos recopilados y propongas cambios. A continuación verás datos sobre un usuario o una usuaria en particular; revisa los datos e identifica cualquier posible problema.

In [1]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

**Opciones:**

1. El tipo de datos para `user_id` debe cambiarse de una cadena a un número entero.
    
2. La variable `user_name` contiene una cadena que tiene espacios innecesarios y un guion bajo entre el nombre y el apellido.
    
3. El tipo de datos de `user_age` es incorrecto.
    
4. La lista `fav_categories` contiene cadenas en mayúsculas. En su lugar, deberíamos convertir los valores de la lista a minúsculas.

Escribe en la celda Markdown a continuación el número de las opciones que has identificado como problemas. Si has identificado varios problemas, sepáralos con comas. Por ejemplo, si crees que los números 1 y 3 son correctos, escribe 1, 3.

**Escribe tu respuesta y explica tu argumentación:**
1, 2, 3: 1 Porque el tipo de detos para user_id es tipo string, convertirlo a int sería lo adecuado para poder manejarlo en la manipulacion de los datos. 2 porque el nombre del usuario contiene espacios y un guion que no son necesarios, igual lo adecuado es eliminar los espacios y guion bajo para poder manipularlo mejor. 3 porque lo mejor para expresar la edad sería mediante un numero entero para poder manipular la información mas facil.

# Ejercicio 1

Vamos a implementar los cambios que identificamos. Primero, necesitamos corregir los problemas de la variable `user_name`. Como vimos, tiene espacios innecesarios y un guion bajo como separador entre el nombre y el apellido; tu objetivo es eliminar los espacios y luego reemplazar el guion bajo con el espacio.

In [2]:
user_name = ' mike_reed '
user_name = user_name.strip()# eliminar los espacios en la cadena original
user_name = user_name.replace('_', ' ')# reemplazar el guion bajo con el espacio

print(user_name)

mike reed

# Ejercicio 2

Luego, debemos dividir el `user_name` (nombre de usuario o usuaria) actualizado en dos subcadenas para obtener una lista que contenga dos valores: la cadena para el nombre y la cadena para el apellido.

In [3]:
user_name = 'mike reed'
name_split = user_name.split() # Aquí se esta usando el metodo split, que convierte una cadena en una lista
# divide aquí el string user_name

print(name_split)# Aquí se imprime la cadena ya convertida en lista.

['mike', 'reed']

# Ejercicio 3

¡Genial! Ahora debemos trabajar con la variable `user_age`. Como ya mencionamos, esta tiene un tipo de datos incorrecto. Arreglemos este problema transformando el tipo de datos y mostrando el resultado final.

In [4]:
user_age = 32.0 #aquí se alamcena una variable tipo flotante
user_age = int(user_age) #con int se cambia el tipo de datos para la edad de un usuario o usuaria a un numero entero.

print(user_age) #se imprime el resultado, ya con el tipo de dato correcto.

32

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, buen uso de los métodos split(), strip() y replace además de la función int()
</div>

# Ejercicio 4

Como sabemos, los datos no siempre son perfectos. Debemos considerar escenarios en los que el valor de `user_age` no se pueda convertir en un número entero. Para evitar que nuestro sistema se bloquee, debemos tomar medidas con anticipación.

Escribe un código que intente convertir la variable `user_age` en un número entero y asigna el valor transformado a `user_age_int`. Si el intento falla, mostramos un mensaje pidiendo al usuario o la usuaria que proporcione su edad como un valor numérico con el mensaje: `Please provide your age as a numerical value.` (Proporcione su edad como un valor numérico.)

In [5]:
user_age = 'treinta y dos' # aquí está la variable que almacena la edad como un string.
# escribe un código que intente transformar user_age en un entero y si falla, imprime el mensaje especificado
try:
    user_age_int = int (user_age) # aquí phyton trata de convertir el valor de string a entero
except:
    print('Please provide your age as a numerical value') #como la instruccion dentro de try no pudo ejecutarse, se imprime el mensaje para solictar al usuario que ingrese la información correctam

Please provide your age as a numerical value

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Bien hecho, correcto uso del bloque try-except
</div>

# Ejercicio 5

Finalmente, considera que todas las categorías favoritas se almacenan en mayúsculas. Para llenar una nueva lista llamada `fav_categories_low` con las mismas categorías, pero en minúsculas, itera los valores en la lista `fav_categories`, modifícalos y agrega los nuevos valores a la lista `fav_categories_low`. Como siempre, muestra el resultado final.

In [6]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = [] #se crea la variable con la lista vacia para guardar aquí los nuevos valores ya convertidos a minusculas.

for fav_cat in fav_categories:
    fav_categories_low.append(fav_cat.lower())
    #En este ciclo for en la lista vacia se esta usando el metodo append, que sirve para modicar un solo elemento de una lista.
    #A su vez se le esta pasa como argumento el valor de cada uno de los elementos de la lista.
    #aplicando el metodo lower a cada valor de la lista para convertirlos a minusculas como fue solitado.

# no elimines la siguiente declaración print
print(fav_categories_low) #aquí se imprime la nueva lista con los elementos modificados.

['electronics', 'sport', 'books']

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, buena manera de utilizar lower()
</div>

# Ejercicio 6

Hemos obtenido información adicional sobre los hábitos de gasto de nuestros usuarios y usuarias, incluido el importe gastado en cada una de sus categorías favoritas. La gerencia está interesada en las siguientes métricas:

- Importe total gastado por el usuario o la usuaria.
- Importe mínimo gastado.
- Importe máximo gastado.

Vamos a calcular estos valores y mostrarlos en la pantalla:

In [7]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category)# aquí se usa la función sum que devuelve la suma de todos los elementos de la lista spendings_per_category
max_amount = max(spendings_per_category)# aquí se usa la función max que encuentra el valor máximo.
min_amount = min(spendings_per_category)# aquí se usa la función min que encuentra el valor mínimo.

# no elimines la siguiente declaración print
print(total_amount) #aquí se imprime la suma total de los elementos
print(max_amount) #aquí se imprime el valor máximo de los elementos.
print(min_amount)#aquí se imprime el valor mínimo de los elementos.

1280
894
173

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, buen uso de las funciones sum(), max() y min()
</div>

# Ejercicio 7

La empresa quiere ofrecer descuentos a sus clientes leales. Los clientes y las clientas que realizan compras por un importe total mayor a $1500 se consideran leales y recibirán un descuento.

Nuestro objetivo es crear un bucle `while` que compruebe el importe total gastado y se detenga al alcanzarlo. Para simular nuevas compras, la variable `new_purchase` genera un número entre 30 y 80 en cada iteración del bucle. Esto representa el importe de dinero gastado en una nueva compra y es lo que hay que sumar al total.

Una vez que se alcance el importe objetivo y se termine el bucle `while`, se mostrará la cantidad final.

In [8]:
from random import randint # Aquí se esta importando randint, con la cual se generaran los numero aleatorios.

total_amount_spent = 1280 # Variable de la cantidad gastada.
target_amount = 1500 # Variable para guardar el importe de 1500 y comparar con la cantidad gastada.

while total_amount_spent < target_amount: # Aquí se esta haciendo la comparación, 
    #mientras la cantidad total gastada sea menor a la cantidad objetivo se ejecuta la instruccion dentro.
	new_purchase = randint(30, 80) # Aquí se genera un número aleatorio de 30 a 80
	total_amount_spent += new_purchase # Aquí en la variable total_amount_spent se va sumando y guardando la cantidad de cada nueva compra

print(total_amount_spent) # Aquí se imprime el resultado una una vez alcanzada la cantidad objetivo.

1540

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Se usó el ciclo while de forma correcta
</div>

# Ejercicio 8

Ahora tenemos toda la información sobre un cliente o una clienta de la forma que queremos que sea. La gerencia de una empresa nos pidió proponer una forma de resumir toda la información sobre un usuario o una usuaria. Tu objetivo es crear una cadena formateada que utilice información de las variables `user_id`, `user_name` y `user_age`.

Esta es la cadena final que queremos crear: `User 32415 is mike who is 32 years old.` (El usuario 32415 es Mike, quien tiene 32 años).

In [13]:
user_id = '32415'
user_id = int(user_id) # Aquí se esta pasando a entero el valor de user_id, como se había solitado anteriormente.
user_name = ['mike', 'reed']
user_name = user_name.pop(0) #Aquí se esta extrayendo el elemento mike de lista para poder imprimir solo el nombre.
user_age = 32

user_info = ("User {} is {} who is {} years old.").format(user_id, user_name, user_age)# Aquí se esta usando el método format.
#se estan pasando como argumentos los valores de id, nombre y edad, estos valores se sustituten en las llaves en el orden en que se pasan los argumentos.

# no elimines la siguiente declaración print
print(user_info) #Se imprime la cadena en el orden solicitado.

User 32415 is mike who is 32 years old.

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Cuidado!<br/>
Parece que se había borrado la declaración de user_info, te ayudé a declararla de nuevo
</div>

Como sabes, las empresas recopilan y almacenan datos de una forma particular. Store 1 desea almacenar toda la información sobre sus clientes y clientas en una tabla.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

En términos técnicos, una tabla es simplemente una lista anidada que contiene una sublista para cada usuario o usuaria.

Store 1 ha creado una tabla de este tipo para sus usuarios y usuarias. Se almacena en la variable `users`. Cada sublista contiene el ID del usuario o la usuaria, nombre y apellido, edad, categorías favoritas y el importe gastado en cada categoría.

# Ejercicio 9

Para calcular los ingresos de la empresa, sigue estos pasos.

1. Utiliza `for` para iterar sobre la lista `users`.
2. Extrae la lista de gastos de cada usuario o usuaria y suma los valores.
3. Actualiza el valor de los ingresos con el total de cada usuario o usuaria.

Así obtendrás los ingresos totales de la empresa que mostrarás en la pantalla al final.

In [14]:
users = [
	  # este es el inicio de la primera sublista
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # este es el final de la primera sublista

    # este es el inicio de la segunda sublista
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # este es el final de la segunda sublista
]

revenue = 0
spending_list = [] # Se crea una lista vacia para guardar los elementos de la sublista de gastos de la tabla.

for user in users:
	spending_list = user[4]# Aquí se extrae la lista de gastos de cada usuario o usuaria.
	total_spendings = sum(spending_list)# Aquí se suman los gastos de todas las categorías para obtener el total de un usuario o una usuaria en particular
	revenue += total_spendings# Aquí se hace el total de la suma de gastos de todos los usuarios.

# no elimines la siguiente declaración print
print(revenue)# Aquí se imprimen los ingresos totales de la empresa.

2109

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, buena manera de iterar los elementos en el for
</div>

# Ejercicio 10

Recorre la lista de usuarios y usuarias que te hemos proporcionado y muestra los nombres de la clientela menor de 30 años.

In [15]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users: # Se crea un bucle For para recorrer toda la lista.
    if user [2] < 30: # Se crea la condicion, si la posicion 2 osea la edad es menor que 30, se ejecuta la siguiente instruccion.
        print(user[1])# Aquí se imprimen los nombres de los usuarios que cumplieron la condición.

['kate', 'morgan']
['samantha', 'smith']
['emily', 'brown']
['jose', 'martinez']
['james', 'lee']


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, se obtuvieron los resultados acertados
</div>

# Ejercicio 11

Juntemos las tareas 9 y 10 e imprimamos los nombres de los usuarios y las usuarias que tengan menos de 30 años y un gasto total superior a 1000 dólares.

In [16]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

total_spendings = 0

for user in users:
    spending_list = user[4] # Se extrae la sublista de los gastos de cada usuario.
    user_spending = sum(spending_list) # En esta variable se hace la suma de los gastos de cada uno de los usuarios.
    
    if  user[2] < 30 and user_spending > 1000: # En esta condicion se hace comparación, si la edad del usuario es menor de 30,
        # y el total de su gasto es mayor de 1000 entonces se ejecuta la siguiente instruccion.
        total_spendings += user_spending# Aquí se suman el total de gastos de todos los usuarios que cumplieron la condicion.
        print(user[1], user[2], user_spending) #Aquí se imprime la información de los usuarios que cumplieron la condición.
        #nombre, edad y total de gastos.

['samantha', 'smith'] 29 1063
['james', 'lee'] 28 1067

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, buena manera de combinar ambas condiciones dentro del if
</div>

# Ejercicio 12

Ahora vamos a mostrar el nombre y la edad de todos los usuarios y todas las usuarias que han comprado ropa. Imprime el nombre y la edad en la misma declaración print.

In [17]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]


for user in users: #Este ciclo for se crea para recorrer toda la tabla.
    category_list = user [3] # Se extrae la sublista de las categorias de la tabla.
    if 'clothes' in category_list: # Se crea esta condicion para saber si dentro de la sublista de categorias existe el string clothes.
        print(user[1], user[2]) # Si la condicion se cumple, se imprime el nombre y la edad de los usuarios que compraron en esa categoria.

['kate', 'morgan'] 24
['samantha', 'smith'] 29
['maria', 'garcia'] 33
['lisa', 'wilson'] 35
['james', 'lee'] 28

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto, buena manera de usar 'in' en el if
</div>

#Escribe aquí cualquier comentario o reflexión final
Programar ha resultado todo un reto para mi ya que no siempre recuerdo todo lo que aprendí en la teoría, por lo cual estoy consultado constantemente, el apoyo de mi tutor también ha sido importante para que pueda entender los ejercicios. Con cada uno de los ejercicios entendí que aunque las solicitudes pueden parecer similares y se quiera copiar el código de un ejercicio anterior ya resuelto, esto es algo que no siempre funciona, hay que leer y entender bien cada una de las solicitudes. Con las fallas que tenga en este proyecto, tendre la oportunidad de saber en que debo mejorar para seguir aprendiendo.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Has realizado un buen trabajo, me doy cuenta de que has aplicado los conocimientos que has adquirido durante el curso, las observaciones iniciales son buenas y los procedimientos realizados son correctos, este es un ejercicio que nos ayuda a practicar los métodos y funciones más comunes en pandas/python que nos ayudarán bastante en los siguientes Sprints, también te puedo asegurar que no hay nadie que conozca todos los métodos y funciones, recurrir a Google o cualquier otro recurso es totalmente valido y aceptado, solo tienes que entender los conceptos de lo  que se te pide y así será más fácil encontrar el método/función que necesitas.<br/>
Continúa practicando mucho, esta es la clave para dominar python/pandas y mucho éxito en el siguiente Sprint!
</div>